name: Build
on: [push]

jobs:
  build-frontend:
    name: Build frontend resource
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./web
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18.x'
      - name: npm install
        run: npm ci
      - name: npm run build
        run: npm run build
      - name: Archive frontend production artifacts
        uses: actions/upload-artifact@v3
        with:
          name: frontend-resource
          path: ./web/dist
  build-backend:
    name: Build backend resource
    needs: build-frontend
    runs-on: ubuntu-latest
    steps:
      - name: Set env
        run: |
          echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
          echo "NOW=$(date +'%Y-%m-%dT%H:%M:%SZ')" >> $GITHUB_ENV
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Download frontend resource
        uses: actions/download-artifact@v3
        with:
          name: frontend-resource
          path: ./web/dist
      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.21'
      - name: Install dependencies
        run: go mod download
      - name: Build
        run: bash go-executable-build.sh ./cmd N_m3u8DL-RE-Web
      - name: Archive production artifacts
        uses: actions/upload-artifact@v3
        with:
          name: N_m3u8DL-RE-Web-executable
          path: N_m3u8DL-RE-Web*
  publish-release:
    name: Publish binaries
    if: startsWith(github.ref, 'refs/tags/')
    needs: build-backend
    runs-on: ubuntu-latest
    steps:
      - name: Download binaries
        uses: actions/download-artifact@v3
        with:
          name: N_m3u8DL-RE-Web-executable
      - name: Upload binaries to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: N_m3u8DL-RE-Web*
          tag: ${{ github.ref }}
          overwrite: true